[submodule "components/esp-idf-lib"]
	path = components/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib
[submodule "components/esp-libsupla"]
	path = components/esp-libsupla
	url = https://github.com/QB4-dev/esp-libsupla
[submodule "components/esp_http_server_utils"]
	path = components/esp_http_server_utils
	url = https://github.com/QB4-dev/esp_http_server_utils
