menu "Board Select"
	choice BOARD
	prompt "Target board"
            default BSP_ESP01_DIMMER_v1_0
            help
                Select target board
                
	config BSP_ESP01_DIMMER_v1_0
	    bool "ESP-01 DIMMER v1.0"
	    
	config BSP_ESP01_DIMMER_v1_1
	    bool "ESP-01 DIMMER v1.1"
	    
	config BSP_ESP01_RGBW
	    bool "ESP-01 RGBW"

	config BSP_ESP01_PLUG_DHT
	    bool "ESP-01 PLUG DHT"

	endchoice
endmenu

menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config SUPLA_EMAIL
        string "SUPLA email address"
        default "user@example.com"
        help
            SUPLA account email address for the example to use.

    config SUPLA_SERVER
        string "SUPLA server address"
        default "svrX.supla.org"
        help
            SUPLA server address for the example to use.

endmenu
