menu "Board Select"
	choice
	prompt "Target board"
            default BSP_ESP01_DIMMER_v1_0
            help
                Select target board
                
	config BSP_ESP01_DIMMER_v1_0
	    bool "ESP-01 DIMMER v1.0"
	    
	config BSP_ESP01_DIMMER_v1_1
	    bool "ESP-01 DIMMER v1.1"
	    
	config BSP_ESP01_DIMMER_v1_2
	    bool "ESP-01 DIMMER v1.2"

	endchoice
endmenu
