menu "Board Select"
	choice
	prompt "Target board"
            default BSP_ESP01_RGBW_v1_0
            help
                Select target board
                
	config BSP_ESP01_RGBW_v1_0
	    bool "ESP-01 RGBW v1.0"

	endchoice
endmenu
