menu "Board Select"
	choice
	prompt "Target board"
            default BSP_ESP01_USB
            help
                Select target board
                
	config BSP_ESP01_USB
	    bool "BSP_ESP01_USB"

	config BSP_ESP01_USB_DHT
	    bool "BSP_ESP01_USB_DHT"

	endchoice
endmenu
